# Set the default behavior for text files
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout
*.json text eol=lf
*.md text eol=lf
